# Node
node_modules/
node/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
target/

# IDE/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database
data/
*.db

# System Files
.DS_Store
Thumbs.db

# Gemini
.gemini/

# Cloned subfolder
CRM/
